@font-face {
	font-family: 'ubnt';
	src:url('fonts/ubnt.eot?ajyg15');
	src:url('fonts/ubnt.eot?#iefixajyg15') format('embedded-opentype'),
		url('fonts/ubnt.woff?ajyg15') format('woff'),
		url('fonts/ubnt.ttf?ajyg15') format('truetype'),
		url('fonts/ubnt.svg?ajyg15#ubnt') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'ubnt';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ubnt-icon--unifi-security-gateway:before {
	content: "\e735";
}
.ubnt-icon--header-maximize:before {
	content: "\e60b";
}
.ubnt-icon--header-minimize:before {
	content: "\e60d";
}
.ubnt-icon--chipset-x2:before {
	content: "\e731";
}
.ubnt-icon--android:before {
	content: "\e732";
}
.ubnt-icon--multi-touch:before {
	content: "\e733";
}
.ubnt-icon--shield-checkered:before {
	content: "\e734";
}
.ubnt-icon--calendar-day:before {
	content: "\e737";
}
.ubnt-icon--calendar-week:before {
	content: "\e738";
}
.ubnt-icon--calendar-month:before {
	content: "\e739";
}
.ubnt-icon--dollar-sign-2:before {
	content: "\e73a";
}
.ubnt-icon--arrows-downup:before {
	content: "\e73b";
}
.ubnt-icon--grid:before {
	content: "\e73c";
}
.ubnt-icon--block:before {
	content: "\e73d";
}
.ubnt-icon--auto:before {
	content: "\e73e";
}
.ubnt-icon--manual:before {
	content: "\e73f";
}
.ubnt-icon--lock-2:before {
	content: "\e740";
}
.ubnt-icon--airplay:before {
	content: "\e728";
}
.ubnt-icon--sliders:before {
	content: "\e729";
}
.ubnt-icon--infrared:before {
	content: "\e72a";
}
.ubnt-icon--register:before {
	content: "\e72b";
}
.ubnt-icon--sign-in:before {
	content: "\e72c";
}
.ubnt-icon--flip-horizontal:before {
	content: "\e72d";
}
.ubnt-icon--flip-vertical:before {
	content: "\e72e";
}
.ubnt-icon--rotate:before {
	content: "\e72f";
}
.ubnt-icon--axis:before {
	content: "\e730";
}
.ubnt-icon--unifi-voip-phone:before {
	content: "\e718";
}
.ubnt-icon--diamond:before {
	content: "\e719";
}
.ubnt-icon--target-2:before {
	content: "\e71a";
}
.ubnt-icon--infrared2:before {
	content: "\e71b";
}
.ubnt-icon--saturation:before {
	content: "\e71c";
}
.ubnt-icon--sun:before {
	content: "\e71d";
}
.ubnt-icon--contrast:before {
	content: "\e71e";
}
.ubnt-icon--brightness:before {
	content: "\e71f";
}
.ubnt-icon--magnify-minus:before {
	content: "\e720";
}
.ubnt-icon--magnify-plus:before {
	content: "\e721";
}
.ubnt-icon--camera-record:before {
	content: "\e722";
}
.ubnt-icon--fullscreen:before {
	content: "\e723";
}
.ubnt-icon--trash:before {
	content: "\e724";
}
.ubnt-icon--circle:before {
	content: "\e725";
}
.ubnt-icon--check-circle:before {
	content: "\e726";
}
.ubnt-icon--plus-circle:before {
	content: "\e727";
}
.ubnt-icon--geolocation:before {
	content: "\e717";
}
.ubnt-icon--brain:before {
	content: "\e715";
}
.ubnt-icon--dumbell:before {
	content: "\e716";
}
.ubnt-icon--door-open:before {
	content: "\e6a0";
}
.ubnt-icon--airfiber:before {
	content: "\e69b";
}
.ubnt-icon--unifi:before {
	content: "\e69d";
}
.ubnt-icon--airmax:before {
	content: "\e69e";
}
.ubnt-icon--zero-handoff-roaming:before {
	content: "\e69f";
}
.ubnt-icon--unifi-video:before {
	content: "\e69a";
}
.ubnt-icon--logotype:before {
	content: "\e697";
}
.ubnt-icon--unifi-video-camera-dome:before {
	content: "\e698";
}
.ubnt-icon--airMAX-omni:before {
	content: "\e699";
}
.ubnt-icon--link:before {
	content: "\e68d";
}
.ubnt-icon--NanoBeam-M:before {
	content: "\e68e";
}
.ubnt-icon--logo-lockup:before {
	content: "\e68f";
}
.ubnt-icon--ubnt-logo-u:before {
	content: "\e690";
}
.ubnt-icon--cloud-add:before {
	content: "\e691";
}
.ubnt-icon--UWN:before {
	content: "\e692";
}
.ubnt-icon--UWN-horizontal:before {
	content: "\e693";
}
.ubnt-icon--airGrid-M:before {
	content: "\e694";
}
.ubnt-icon--airMAX-Omni:before {
	content: "\e695";
}
.ubnt-icon--airMAX-Yagi:before {
	content: "\e696";
}
.ubnt-icon--dolly:before {
	content: "\e600";
}
.ubnt-icon--UniFi-Appliance:before {
	content: "\e601";
}
.ubnt-icon--play-2:before {
	content: "\e602";
}
.ubnt-icon--day:before {
	content: "\e603";
}
.ubnt-icon--droplet:before {
	content: "\e604";
}
.ubnt-icon--lightning-bolt:before {
	content: "\e605";
}
.ubnt-icon--thermometer-mid:before {
	content: "\e606";
}
.ubnt-icon--thermometer-low:before {
	content: "\e607";
}
.ubnt-icon--thermometer-high:before {
	content: "\e608";
}
.ubnt-icon--user:before {
	content: "\e609";
}
.ubnt-icon--bulb:before {
	content: "\e60a";
}
.ubnt-icon--energy-savings:before {
	content: "\e60c";
}
.ubnt-icon--airOSX-billing:before {
	content: "\e60e";
}
.ubnt-icon--airOSX-market:before {
	content: "\e60f";
}
.ubnt-icon--airOSX-control:before {
	content: "\e610";
}
.ubnt-icon--mfi:before {
	content: "\e611";
}
.ubnt-icon--magnifying-glass:before {
	content: "\e612";
}
.ubnt-icon--powerbeam:before {
	content: "\e613";
}
.ubnt-icon--news:before {
	content: "\e614";
}
.ubnt-icon--phone:before {
	content: "\e615";
}
.ubnt-icon--info:before {
	content: "\e616";
}
.ubnt-icon--dish-angled:before {
	content: "\e617";
}
.ubnt-icon--TOUGHSwitch:before {
	content: "\e618";
}
.ubnt-icon--UniFi-Appliance2:before {
	content: "\e619";
}
.ubnt-icon--play-22:before {
	content: "\e61a";
}
.ubnt-icon--unifi-video-nvr:before {
	content: "\e61b";
}
.ubnt-icon--unifi-video-camera:before {
	content: "\e61c";
}
.ubnt-icon--unifi-video-camera-pro:before {
	content: "\e61d";
}
.ubnt-icon--unifi-video-camera-dome2:before {
	content: "\e61e";
}
.ubnt-icon--PowerBridge-M10:before {
	content: "\e61f";
}
.ubnt-icon--EdgeSwitch:before {
	content: "\e620";
}
.ubnt-icon--arrow-down-4:before {
	content: "\e621";
}
.ubnt-icon--UniFi-AP-Outdoor-Plus:before {
	content: "\e622";
}
.ubnt-icon--arrow-up:before {
	content: "\e623";
}
.ubnt-icon--arrow-down:before {
	content: "\e624";
}
.ubnt-icon--arrows-sort:before {
	content: "\e625";
}
.ubnt-icon--UniFi-AP-Outdoor:before {
	content: "\e626";
}
.ubnt-icon--lightning-bolt2:before {
	content: "\e627";
}
.ubnt-icon--arrow-right-4:before {
	content: "\e628";
}
.ubnt-icon--arrow-left-4:before {
	content: "\e629";
}
.ubnt-icon--arrow-up-4:before {
	content: "\e62a";
}
.ubnt-icon--mSensor:before {
	content: "\e62b";
}
.ubnt-icon--rain:before {
	content: "\e62c";
}
.ubnt-icon--day-night:before {
	content: "\e62d";
}
.ubnt-icon--microphone:before {
	content: "\e62e";
}
.ubnt-icon--snowflake:before {
	content: "\e62f";
}
.ubnt-icon--hard-drive:before {
	content: "\e630";
}
.ubnt-icon--camera-add:before {
	content: "\e631";
}
.ubnt-icon--camera-hd:before {
	content: "\e632";
}
.ubnt-icon--wide-angle:before {
	content: "\e633";
}
.ubnt-icon--asterisk-light:before {
	content: "\e634";
}
.ubnt-icon--document:before {
	content: "\e635";
}
.ubnt-icon--bridge:before {
	content: "\e636";
}
.ubnt-icon--UniFi-AP-Outdoor-5:before {
	content: "\e637";
}
.ubnt-icon--airOSX-market2:before {
	content: "\e638";
}
.ubnt-icon--airOSX-control2:before {
	content: "\e639";
}
.ubnt-icon--airOSX-billing2:before {
	content: "\e63a";
}
.ubnt-icon--pencil-2:before {
	content: "\e63b";
}
.ubnt-icon--calendar-3:before {
	content: "\e63c";
}
.ubnt-icon--arrows-range:before {
	content: "\e63d";
}
.ubnt-icon--wave-frequency:before {
	content: "\e63e";
}
.ubnt-icon--ethernet:before {
	content: "\e63f";
}
.ubnt-icon--ethernet-port:before {
	content: "\e640";
}
.ubnt-icon--play:before {
	content: "\e641";
}
.ubnt-icon--rocket-M:before {
	content: "\e642";
}
.ubnt-icon--rocket-M5-AC:before {
	content: "\e643";
}
.ubnt-icon--airMAX-AC:before {
	content: "\e644";
}
.ubnt-icon--NanoBeam-M5-AC:before {
	content: "\e645";
}
.ubnt-icon--switch:before {
	content: "\e646";
}
.ubnt-icon--box:before {
	content: "\e647";
}
.ubnt-icon--routing:before {
	content: "\e648";
}
.ubnt-icon--phone-3:before {
	content: "\e649";
}
.ubnt-icon--UniFi-VoIP:before {
	content: "\e64a";
}
.ubnt-icon--UniFi-AP:before {
	content: "\e64b";
}
.ubnt-icon--UniFi-AP-PRO:before {
	content: "\e64c";
}
.ubnt-icon--UniFi-AP-LR:before {
	content: "\e64d";
}
.ubnt-icon--UniFi-AP-AC-Outdoor:before {
	content: "\e64e";
}
.ubnt-icon--UniFi-AP-AC:before {
	content: "\e64f";
}
.ubnt-icon--TOUGHSwitch-PoE:before {
	content: "\e650";
}
.ubnt-icon--TOUGHCable:before {
	content: "\e651";
}
.ubnt-icon--airGrid-M2:before {
	content: "\e652";
}
.ubnt-icon--NanoBridge-M:before {
	content: "\e653";
}
.ubnt-icon--NanoBeam-M2:before {
	content: "\e654";
}
.ubnt-icon--mPower:before {
	content: "\e655";
}
.ubnt-icon--mPort:before {
	content: "\e656";
}
.ubnt-icon--RocketDish:before {
	content: "\e657";
}
.ubnt-icon--PowerBridge-M:before {
	content: "\e658";
}
.ubnt-icon--NanoStation-M:before {
	content: "\e659";
}
.ubnt-icon--EdgeRouter-pro:before {
	content: "\e65a";
}
.ubnt-icon--EdgeRouter-poe:before {
	content: "\e65b";
}
.ubnt-icon--EdgeRouter-lite:before {
	content: "\e65c";
}
.ubnt-icon--airfiber-5:before {
	content: "\e65d";
}
.ubnt-icon--airCam-pro:before {
	content: "\e65e";
}
.ubnt-icon--airCam-IR:before {
	content: "\e65f";
}
.ubnt-icon--airCam-IR-Dome:before {
	content: "\e660";
}
.ubnt-icon--EdgeRouter:before {
	content: "\e661";
}
.ubnt-icon--bullet-m:before {
	content: "\e662";
}
.ubnt-icon--airMAX-titanium-sector:before {
	content: "\e663";
}
.ubnt-icon--airMAX-sector:before {
	content: "\e664";
}
.ubnt-icon--airMAX-omni2:before {
	content: "\e665";
}
.ubnt-icon--airGateway:before {
	content: "\e666";
}
.ubnt-icon--rocket-M2:before {
	content: "\e667";
}
.ubnt-icon--PicoStation-M:before {
	content: "\e668";
}
.ubnt-icon--instant-8023af:before {
	content: "\e669";
}
.ubnt-icon--airfiber-24:before {
	content: "\e66a";
}
.ubnt-icon--airMAX-Yagi2:before {
	content: "\e66b";
}
.ubnt-icon--PoE-adapters:before {
	content: "\e66c";
}
.ubnt-icon--universal-arm-bracket:before {
	content: "\e66d";
}
.ubnt-icon--NanoStation-Mount:before {
	content: "\e66e";
}
.ubnt-icon--multilane-rf:before {
	content: "\e66f";
}
.ubnt-icon--doorhang:before {
	content: "\e670";
}
.ubnt-icon--ap:before {
	content: "\e671";
}
.ubnt-icon--questionmark:before {
	content: "\e672";
}
.ubnt-icon--facebook:before {
	content: "\e673";
}
.ubnt-icon--single-airos:before {
	content: "\e674";
}
.ubnt-icon--waterfall:before {
	content: "\e675";
}
.ubnt-icon--HDD:before {
	content: "\e676";
}
.ubnt-icon--airPRISM:before {
	content: "\e677";
}
.ubnt-icon--airmax2:before {
	content: "\e678";
}
.ubnt-icon--airBeam:before {
	content: "\e679";
}
.ubnt-icon--airView:before {
	content: "\e67a";
}
.ubnt-icon--current:before {
	content: "\e67b";
}
.ubnt-icon--pamphlet:before {
	content: "\e67c";
}
.ubnt-icon--datasheet:before {
	content: "\e67d";
}
.ubnt-icon--backhaul-single:before {
	content: "\e67e";
}
.ubnt-icon--UWN2:before {
	content: "\e67f";
}
.ubnt-icon--minus-circle:before {
	content: "\e680";
}
.ubnt-icon--arrow-drag:before {
	content: "\e681";
}
.ubnt-icon--blank:before {
	content: "\e682";
}
.ubnt-icon--briefcase:before {
	content: "\e683";
}
.ubnt-icon--audio-on:before {
	content: "\e684";
}
.ubnt-icon--audio-off:before {
	content: "\e685";
}
.ubnt-icon--cast:before {
	content: "\e686";
}
.ubnt-icon--markup:before {
	content: "\e687";
}
.ubnt-icon--rss:before {
	content: "\e688";
}
.ubnt-icon--unifi_video22:before {
	content: "\e689";
}
.ubnt-icon--unifi-security:before {
	content: "\e68a";
}
.ubnt-icon--ellipsis:before {
	content: "\e68b";
}
.ubnt-icon--airOS5:before {
	content: "\e68c";
}
.ubnt-icon--disc-2:before {
	content: "\e69c";
}
.ubnt-icon--certificate:before {
	content: "\e6a1";
}
.ubnt-icon--lock-22:before {
	content: "\e6a2";
}
.ubnt-icon--unlock-2:before {
	content: "\e6a3";
}
.ubnt-icon--L3:before {
	content: "\e6a4";
}
.ubnt-icon--shield:before {
	content: "\e6a5";
}
.ubnt-icon--ubnt-logo-u2:before {
	content: "\e6a6";
}
.ubnt-icon--airOS:before {
	content: "\e6a7";
}
.ubnt-icon--airOS7:before {
	content: "\e6a8";
}
.ubnt-icon--UWN22:before {
	content: "\e6a9";
}
.ubnt-icon--airOSX:before {
	content: "\e6aa";
}
.ubnt-icon--audio-on2:before {
	content: "\e6ab";
}
.ubnt-icon--audio-off2:before {
	content: "\e6ac";
}
.ubnt-icon--asterisk:before {
	content: "\e6ad";
}
.ubnt-icon--logical:before {
	content: "\e6ae";
}
.ubnt-icon--unifi_video222:before {
	content: "\e6af";
}
.ubnt-icon--speedometer:before {
	content: "\e6b0";
}
.ubnt-icon--speedometer-high:before {
	content: "\e6b1";
}
.ubnt-icon--checkboxes:before {
	content: "\e6b2";
}
.ubnt-icon--tools:before {
	content: "\e6b3";
}
.ubnt-icon--wifi-2:before {
	content: "\e6b4";
}
.ubnt-icon--network:before {
	content: "\e6b5";
}
.ubnt-icon--map-2:before {
	content: "\e6b6";
}
.ubnt-icon--record:before {
	content: "\e6b7";
}
.ubnt-icon--camera-2:before {
	content: "\e6b8";
}
.ubnt-icon--book-2:before {
	content: "\e6b9";
}
.ubnt-icon--graph-3:before {
	content: "\e6ba";
}
.ubnt-icon--target:before {
	content: "\e6bb";
}
.ubnt-icon--cast2:before {
	content: "\e6bc";
}
.ubnt-icon--live-view:before {
	content: "\e6bd";
}
.ubnt-icon--users:before {
	content: "\e6be";
}
.ubnt-icon--firmware:before {
	content: "\e6bf";
}
.ubnt-icon--chat-bubbles-2:before {
	content: "\e6c0";
}
.ubnt-icon--logotype2:before {
	content: "\e6c1";
}
.ubnt-icon--ap2:before {
	content: "\e6c2";
}
.ubnt-icon--cube:before {
	content: "\e6c3";
}
.ubnt-icon--cart:before {
	content: "\e6c4";
}
.ubnt-icon--logo:before {
	content: "\e6c5";
}
.ubnt-icon--pdf:before {
	content: "\e6c6";
}
.ubnt-icon--rss2:before {
	content: "\e6c7";
}
.ubnt-icon--excel:before {
	content: "\e6c8";
}
.ubnt-icon--xbrl:before {
	content: "\e6c9";
}
.ubnt-icon--wrench-2:before {
	content: "\e6ca";
}
.ubnt-icon--download-2:before {
	content: "\e6cb";
}
.ubnt-icon--x:before {
	content: "\e6cc";
}
.ubnt-icon--pointer-up:before {
	content: "\e6cd";
}
.ubnt-icon--pointer-right:before {
	content: "\e6ce";
}
.ubnt-icon--pointer-left:before {
	content: "\e6cf";
}
.ubnt-icon--pointer-down:before {
	content: "\e6d0";
}
.ubnt-icon--check-2:before {
	content: "\e6d1";
}
.ubnt-icon--sort:before {
	content: "\e6d2";
}
.ubnt-icon--send:before {
	content: "\e6d3";
}
.ubnt-icon--search-2:before {
	content: "\e6d4";
}
.ubnt-icon--select-check:before {
	content: "\e6d5";
}
.ubnt-icon--select-unchecked:before {
	content: "\e6d6";
}
.ubnt-icon--firmware-download:before {
	content: "\e6d7";
}
.ubnt-icon--preferences:before {
	content: "\e6d8";
}
.ubnt-icon--menu:before {
	content: "\e6d9";
}
.ubnt-icon--stopwatch:before {
	content: "\e6da";
}
.ubnt-icon--signal-low:before {
	content: "\e6db";
}
.ubnt-icon--power:before {
	content: "\e6dc";
}
.ubnt-icon--refresh-2:before {
	content: "\e6dd";
}
.ubnt-icon--sync:before {
	content: "\e6de";
}
.ubnt-icon--device-offline-airos:before {
	content: "\e6df";
}
.ubnt-icon--network-drive:before {
	content: "\e6e0";
}
.ubnt-icon--eye:before {
	content: "\e6e1";
}
.ubnt-icon--envelope:before {
	content: "\e6e2";
}
.ubnt-icon--clock-2:before {
	content: "\e6e3";
}
.ubnt-icon--world:before {
	content: "\e6e4";
}
.ubnt-icon--statistics:before {
	content: "\e6e5";
}
.ubnt-icon--firmware-update:before {
	content: "\e6e6";
}
.ubnt-icon--ap-airos:before {
	content: "\e6e7";
}
.ubnt-icon--backhaul:before {
	content: "\e6e8";
}
.ubnt-icon--house:before {
	content: "\e6e9";
}
.ubnt-icon--alert:before {
	content: "\e6ea";
}
.ubnt-icon--internet-offline:before {
	content: "\e6eb";
}
.ubnt-icon--internet:before {
	content: "\e6ec";
}
.ubnt-icon--backhaul-offline:before {
	content: "\e6ed";
}
.ubnt-icon--question:before {
	content: "\e6ee";
}
.ubnt-icon--statistics-low:before {
	content: "\e6ef";
}
.ubnt-icon--speedometer-low:before {
	content: "\e6f0";
}
.ubnt-icon--link-broken:before {
	content: "\e6f1";
}
.ubnt-icon--gears:before {
	content: "\e6f2";
}
.ubnt-icon--gear-3:before {
	content: "\e6f3";
}
.ubnt-icon--youtube:before {
	content: "\e6f4";
}
.ubnt-icon--unifisecurity:before {
	content: "\e6f5";
}
.ubnt-icon--unifi2:before {
	content: "\e6f6";
}
.ubnt-icon--twitter:before {
	content: "\e6f7";
}
.ubnt-icon--news2:before {
	content: "\e6f8";
}
.ubnt-icon--mfi2:before {
	content: "\e6f9";
}
.ubnt-icon--instagram:before {
	content: "\e6fa";
}
.ubnt-icon--headset2:before {
	content: "\e6fb";
}
.ubnt-icon--graph2:before {
	content: "\e6fc";
}
.ubnt-icon--facebook2:before {
	content: "\e6fd";
}
.ubnt-icon--edgemax:before {
	content: "\e6fe";
}
.ubnt-icon--cap:before {
	content: "\e6ff";
}
.ubnt-icon--buildings:before {
	content: "\e700";
}
.ubnt-icon--box2:before {
	content: "\e701";
}
.ubnt-icon--airmax22:before {
	content: "\e702";
}
.ubnt-icon--airfiber2:before {
	content: "\e703";
}
.ubnt-icon--videos:before {
	content: "\e704";
}
.ubnt-icon--support:before {
	content: "\e705";
}
.ubnt-icon--signout:before {
	content: "\e706";
}
.ubnt-icon--settings:before {
	content: "\e707";
}
.ubnt-icon--profile:before {
	content: "\e708";
}
.ubnt-icon--kb:before {
	content: "\e709";
}
.ubnt-icon--inbox:before {
	content: "\e70a";
}
.ubnt-icon--guides:before {
	content: "\e70b";
}
.ubnt-icon--forums:before {
	content: "\e70c";
}
.ubnt-icon--airos-logo:before {
	content: "\e70d";
}
.ubnt-icon--u:before {
	content: "\e70e";
}
.ubnt-icon--bell:before {
	content: "\e70f";
}
.ubnt-icon--dish:before {
	content: "\e710";
}
.ubnt-icon--chat-bubble-2:before {
	content: "\e711";
}
.ubnt-icon--gear-2:before {
	content: "\e712";
}
.ubnt-icon--acc-logo-2:before {
	content: "\e713";
}
.ubnt-icon--acc-logo:before {
	content: "\e714";
}
